spring:
  mail:
    host: smtp.qq.com
    port: 587
    username: 2711586824@qq.com
    password: alsmgqawyzaedhea   # 注意不是登录密码，而是邮箱的 SMTP 授权码
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
  datasource:
    url: jdbc:mysql://localhost:3306/springboot3?useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.demo.entity
